body{
    font-family:Imprima;
    padding:0;
    margin:0;
    background:#333;
    color:#fff;
    #wrapper{
      margin:60px;
       p{
        margin:0;
         width:380px;
         font-size:24px;
         &.f1{
         white-space:nowrap;
         overflow:hidden;
           animation:anm1 3s steps(60,end);
         }
         &.s2{
           opacity:0;
         }
         &.f1.s2{
           opacity:1;
         }
         .line{
           animation: 2s linear 0s normal none infinite running anm2;
         }
      }
    }
  }
  
  @keyframes anm1{
    0%{width:0px;}
  }
  @keyframes anm2{
    50%{opacity:0}
    100%{opacity:1}
  }